.CaisseCard {
    overflow: hidden;
    font-family: "Saira", sans-serif;

}
.caise{
        font-family: "Saira", sans-serif;
        overflow: hidden;
}

.CaisseCard::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -190%;
    width: 300%;
    height: 300%;
    background: linear-gradient(to top , transparent , rgba(240, 255, 255, 0.35) , transparent);
    transition: all 1s ease;
    transform: rotate(45deg);
}
.CaisseCard:hover::before {
    top: -90%;
    left: 110%;
    transition: all 1s ease;
    color: #661a99;
}
