body {
    font-family: "Saira", sans-serif;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(
      circle at 20% 30%,
      rgba(109, 117, 117, 0.45),
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(10, 38, 71, 0.85),
      transparent 65%
    ),
    linear-gradient(
      120deg,
      #0A2647,
      #09223d,
      #0A2647
    );

  background-size: 200% 200%;
  animation: smoothFlow 25s ease-in-out infinite;
}

/* Slow, liquid movement */
@keyframes smoothFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*

#0A2647 high
#144272
#205295
#2C74B3 low

https://colorhunt.co/palette/0a26471442722052952c74b3

*/

