body {
  font-family: "Saira", sans-serif;
  margin: 0;
  min-height: 100vh;
  
  /* Hada howa l-background fate7 (gray-50) li derna f ventes.jsx */
  background-color: #f8fafc; 
  
  /* 7yedna l-gradient l-ghameq o khlina 7aja khfifa bzzaf */
  background-image: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);
  
  overflow-x: hidden;
  color: #1e293b; 
}

/* Scrollbar Style - Modern & Light */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom , #19b393 , #19b347);
  border-radius: 50px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Ky-ghmeq chwia f l-hover */
}

/* Utilities for Inputs */
@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}